:root { 
--green_500_4c_01:#45a3584c; 
--green_500_19:#45a35819; 
--black_900_3f:#0a0d123f; 
--green_500:#46a358; 
--gray_50:#fafafa; 
--green_500_33:#46a35833; 
--green_500_cc:#45a358cc; 
--amber_A700:#ffac0b; 
--green_500_0f:#46a3580f; 
--gray_500_01:#acacac; 
--green_500_6c:#46a3586c; 
--green_500_4c:#46a3584c; 
--deep_orange_A400:#f03800; 
--gray_600:#717171; 
--gray_400:#cacaca; 
--gray_500:#a4a4a4; 
--green_500_19_01:#46a35819; 
--gray_100_7f:#f5f5f57f; 
--green_500_07:#45a35807; 
--gray_800:#3c3c3c; 
--green_500_6c_01:#45a3586c; 
--black_900_0f:#0000000f; 
--gray_200:#eaeaea; 
--gray_300:#e5e5e5; 
--green_500_21:#45a35821; 
--gray_400_01:#c4c4c4; 
--white_A700:#ffffff; 
--green_500_7f:#46a3587f; 
--indigo_600:#3b5999; 
}